doctype html
html(lang="en")
  head
    title= "SVG face morph"
    meta(charset='utf-8')
  body
    h1 Face morph
	- var d = 500, o = -.5*d;
	- var l = .8*d, r = .5*l;
	svg(viewBox= [0, 0, d, d]).join(' '))

    