doctype html
html(lang="en")
  head
    title= "Owlypixel"
    meta(charset='utf-8')
  body
    block content
    - var labels = ['Password', 'Username'], n = labels.length;
    - var m = labels.map(c => c.length);
    
    form
      h2 Sign up in seconds
      while n--
        input(id=labels[n] type= n ? 'text': 'password' required)
        label(for=labels[n])
          - for(var i = 0; i < m[n]; i++)
            span #{labels[n][i]}
      input(type="submit" value="Sign me up")
      