doctype html
html(lang="en")
  head
    title= "Owlypixel"
    meta(charset='utf-8')
  body
    h1 Form
    block content
    - var labels = ['Password', 'Username'], n = labels.length;
    - var m = labels.map(c => c.length);
    
    form
      h2
      