doctype html
html(lang="en")
  head
    title= "An introduction to CSS Grid"
    meta(charset='utf-8')
  body
    .container
      .item.item1 
      .item.item2 
      .item.item3 
      .item.item4 
      .item.item5 
      .item.item6 
    