doctype html
html(lang="en")
  head
    title= "An introduction to CSS Grid"
    meta(charset='utf-8')
  body
    .container
      .item.item1 1 
      .item.item2 2
      .item.item3 3
      .item.item4 4
      .item.item5 5
      .item.item6 6
    