$fsu: 3.75;
$ff: open sans, sans-serif;
$t: .3s;
$ext-d: 6.75em;
$mid-d: 4.25em;
$int-d: 2.5em;
$mov-d: 3.5em;
$btn-d: .5*($mid-d - $int-d);
$a: 19deg;
$dx: 17%; 
// $dx: 50%*tan($a); this should be like that, but my webpack breaks if I do that

$track-d: 6em;
$track-w: .125em;
$track-o: .5*($ext-d - $track-d);
$track-mr: .5*$track-d - $track-w;
$track-m: radial-gradient(transparent $track-mr, #000 calc(1px + #{$track-mr}));
$track-cp: polygon(50% - $dx 0, 50% 50%, 50% + $dx 0, 100% 0, 100% 100%, 0 100%, 0 0);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@mixin sizeAndPos($dim, $set: -1){
    $off: calc(50% - .5*#{$dim});
    @if $set != -1 { --off: $off;}
    @if $set != 0 { top: $off;}
    @if $set != 1 { left: $off;}
    width: $dim;
    height: $dim;
}

@mixin track($co: 360deg) {
    width: 100%;
    height: 100%;
    transform: rotate(.5turn);
    background: conic-gradient(orange, red $co, grey 0deg);
    background-color: #3a3749;
    -webkit-clip-path: $track-cp;
}

body {
    margin: 0;
    overflow: hidden;
    background: #fdfdfd;
    *, :after, :before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: absolute;
        border-radius: inherit;
        text-align: center;
        font: inherit;
        content: '';
    }
}
form {
    --ratio: calc((var(--val) - var(--min))/(var(--max) - var(--min)));
	--co: calc(#{$a} + var(--ratio)*(1turn - 2*#{$a}));
    @include sizeAndPos($ext-d);
    background: #6d697f;
    border-radius: 50%;
    box-shadow: inset 0 -6px 1px 2px rgba(0,0,0,.35), 0 7px 40px 11px rgba(84,81,97,.4);
    font: 300 #{$fsu*1em}/1 $ff;

    &:before{
        @include sizeAndPos($mid-d);
        background: #e3e4ed;
        box-shadow: 0 15px 35px 11px rgba(46, 44, 58, .6);
    }
}

[id="temp"]{
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb, & {
        -webkit-appearance: none;
    }

    overflow: hidden;
    top: $track-o;
    left: $track-o;
    margin-right: 1em;
    width: $track-d;
    height: $track-d;
    background: none;
    pointer-events: none;
   
    &::-webkit-slider-runnable-track {
        @include track(180deg);
        -webkit-mask: $track-m;
    }

    &::-moz-range-track { @include track(); mask: $track-m;}
}

label[for="temp"]{
    right: 0;
    bottom: 0;
    left: 0;
    font: 700 1rem/4 $ff;
    text-transform: uppercase;
    color: #2e2c3a;
}

output[for="temp"]{
    @include sizeAndPos($int-d);
    box-shadow: 0 15px 35px 5px rgba(96, 93, 111, .3);
    background: #f8f9fa;
    line-height: $int-d;

    &:before {
		$u: $track-w*$fsu;
		@include sizeAndPos($mov-d);
		border-radius: 0;
		transform: rotate(calc(var(--co) - .5turn)) 
			translatey(calc(#{.5*($mov-d - $track-d*$fsu)} - #{$u}));
		background: linear-gradient(90deg, 
					transparent calc(50% - 2px), #fff calc(50% - 1px), 
					#fff calc(50% + 1px), transparent calc(50% + 2px)) 
				50% #{$u}/ 100% $u no-repeat, 
			radial-gradient(rgba(255, 158, 35, .65), rgba(255, 158, 35, 0) 70%) 
				50% 0/ 100% 3*$u no-repeat;
		color: var(--c, #fff);
		text-shadow: 1px 3px 3px var(--c, #302e38);
		font: 600 1rem/ #{$mov-d} $ff;
		transition: $t;
		transition-property: color, text-shadow;
		counter-reset: temp var(--val);
		content: counter(temp);
		
		form:not(:hover) & { --c: transparent }
	}

    &:after{
        display: inline-block;
        font-size: .675em;
        margin-top: -.375em;
        content: '°';
    }
}

button{
    @include sizeAndPos($btn-d, 1);
    left: calc(var(--off) + var(--s)*#{.5*($int-d + $btn-d)});
    border-radius: 0; 
    cursor: pointer;
    color: #b9b6c8;
    background: none;
    border: none;
    white-space: nowrap;
    text-indent: $btn-d;
    overflow: hidden;
    transition: color $t;

    &:focus, &:hover{
        outline: none;
        color: coral;
    }
    &:after {
        @include sizeAndPos(.25*$btn-d);
        border: solid 0 currentcolor;
        transform: rotate(calc(45deg + var(--s)*90deg));
        border-width: 3px 0 0 3px;
    
    }
}