doctype html
html(lang="en")
  head
    title= "Owlypixel"
    meta(charset='utf-8')
  body
    input(type='checkbox' id='switch')
    label(for='switch') switch doing something
    output(for='switch') Switch is:
      span.off off
      span.on on
    